@font-face {
    font-family: 'Trajan Pro';
    src: url('../fonts/TrajanPro3-Regular.otf');
}

@font-face {
    font-family: 'Geneva';
    src: url('https://fonts.google.com/specimen/Montserrat');
}

@font-face {
    font-family: 'Chalkboard';
    src: url('../fonts/Chalkboard.ttc');
}

.page-container {
    padding-top: 300px;
    padding-left: 300px;
    padding-right: 300px;
}

.header1 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    height: 60px;
    line-height: 60px;
    color: #1A2640;
    text-align: right;
    font-size: 40px;
    border-right: 20px solid #1A2640;
    font-weight: 700;
    font-family: 'Trajan Pro';
}

.header2 {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    color: #1A2640;
    font-size: 35px;
    font-family: 'Trajan Pro';
}

.header3 {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;
    color: #1A2640;
    font-size: 30px;
    font-family: 'Geneva';
    padding-left: 10px;
    border-left: 10px solid #1A2640;
}


.header4 {
    margin: 20px 0;
    height: 20px;
    line-height: 20px;
    color: #1A2640;
    font-size: 20px;
    font-family: 'Geneva';
    font-weight: bold;
    text-decoration: underline;
}
.header5 {
    margin: 20px, 0;
    font-weight: bold;
    font-size: 20px;
}


ol,
#myfkpage,
.content {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #5C616F;
    font-size: 20px;
    line-height: 35px;
    font-family: 'Montserrat';
    text-align: justify;
}

/* divider */
.ui.divider {
    border-bottom-color: #ffffff !important;
    border-top-color: #ffffff !important;
}

/* card */
.card {
    border: none !important;
    border-radius: 0 !important;
    width: calc(33.33333% - 7rem) !important;
    /*33% width*/
    margin-right: 5.5rem !important;
}

.card .image {
    padding: 30px !important;
}

.card .content .description {
    text-align: left;
    padding: 15px !important;
}

.card .content .header {
    text-align: center;
}

img {
    width: 75%;
    display: block;
    margin: 0 auto;
}

img.icon {
    display: inline;
    width: 30px;
}

ul.check {
    list-style: none;
    margin-left: 0;
}

ul.check>li::before{
    content: '';
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url('http://2018.igem.org/wiki/images/f/fd/T--SYSU-Software--check.png');
    background-size: 25px;
    margin-right: 5px;
    margin-top: 20px
}

.next-page-identify {
    height: 0px;
}

.last-page-identify {
    height: 0px;
}

.ack-logo {
    width: 50%;
    height: 50%;
}

.tech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tech>img {
    width: 20%;
}

.italic {
    font-style: italic;
}

.caption {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0;
    text-align: center;
}

.results {
    width: 50%;
}

.img-same-line {
    width: 40%;
}

.page.dimmer {
    background-color: #FFF !important;
}

.sticky-navigator {
    margin: 5px;
    height: 40px;
    width: 50px;
    line-height: 40px;
    opacity: 0.6;
    text-align: left;
    cursor: pointer;
    color: #000;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
}

.sticky-navigator > img {
    max-width: 40px;
    vertical-align: middle;
    display: inline;
    width: 80%;
}

.sticky-navigator:hover {
    opacity: 0.9;
    width: 140px;
}

.sticky-navigator.showtext {
    opacity: 0.9;
    width: 140px;
}

.sticky-navigator>.navigator-notice {
    padding-left: 10px;
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

ol, ul {
    margin-left: 25px;
}

.instructor,
.advisor,
.member {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
}

.member>img {
    max-height: 500px;
    max-width: 800px;
    width: auto;
    height: auto;
    margin: 20px;
}

.self-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 100px;
}

.instructor>img {
    width: 30%;
    height: 30%;
    margin: 20px;
}

.advisor>img {
    width: 30%;
    margin: 20px;
}

.background-data>img {
    width: 50%;
}

.button-override {
    background-color: #e0e1e2!important;
    border: 0 !important;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset !important;
    max-width: 100% !important;
    padding: 0px !important;
    color: rgba(0,0,0,.6) !important;
    line-height: 30px !important;
}

.button-override:hover {
    background-color: #cacbcd !important;
    color: rgba(0, 0, 0, 0.8) !important;
}

.wet-valid {
    width: 50%;
}