html,
body {
  height: 100%;

}

body {
  overflow: hidden;
}

#logo {
  width: 80px !important;
  height: 40px !important;
}

.default.text {
  color: #000000 !important;
}

.light.text {
  color: #FFFFFF !important;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

video {
  height: 1080px;
  width: 1920px;
  margin-top: -300px;
  margin-left: -300px;
}

.myfkpage {
  margin: 0 !important;
  /* height: 1000px !important; */
}

.dropdown.link.item .menu {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.ui.dropdown.link.item {
  height: 50px !important;
}

li.noscroll {
  overflow-y: hidden !important;
}

li.scroll {
  overflow-y: scroll !important;
  background-color: rgb(238,238,237);
}

.test0 {
  background: url(../images/background/background0.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(238,238,237) !important;
}

.test1 {
  background: url(../images/background/background1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(238,238,237) !important;
}

.test2 {
  background: url(../images/background/background2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(238,238,237) !important;
}

.test3 {
  background: url(../images/background/background3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(238,238,237) !important;
}

.test4 {
  background: url(../images/background/background4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(238,238,237) !important;
}

.test5 {
  background: url(../images/background/background5.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(238,238,237) !important;
}

.test6 {
  background: url(../images/background/background6.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(238,238,237) !important;
}

.test7 {
  background: url(../images/background/background7.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(238,238,237) !important;
}

.test8 {
  background: url(../images/background/background8.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(238,238,237) !important;
}

.pusher {
  display: block;
  min-height: 0px;
  flex-direction: initial;
}

.pusher>.full.height {
  background-color: #000;
  display: block;
  flex: none !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.following.bar {
  position: fixed;
  top: 0px;
  z-index: 900;
  left: 0%;
  padding: 2em 0em;
  width: 100%;
  box-shadow: 0px 0px 0px 0px transparent;
  border-bottom: 1px solid transparent;
  transition:
    padding 0.5s ease,
    background 0.5s ease,
    box-shadow 0.5s ease,
    border 0.5s ease;
}

.light.following.bar {
  padding: 0em 0em;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}

.item {
  font-family: 'Chalkboard' !important;
}

img {
  width: 85%;
}

.side-bar {
  position: absolute !important;
  text-align: left;
  color: #FFFFFF;
  right: 140px;
  bottom: 40px;
  width: 150px;
}

.wide-card {
  margin: 10px !important;
  width: 30% !important;
}

.ui.modal>.image.content>.description {
  color: rgba(0, 0, 0, .68) !important;
  font-size: 20px;
}